
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <style>
      body {
        margin: 3em;
        font-size: 14pt;
        background-color: #bcbab4;
        color: #062706;
        text-align: center;
      }
      
      img {
        width: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
        margin-bottom: 1em;
      }
    </style>
    
  </head>
  <body>
    <h2>
      Credits
    </h2>
    
    <div>
      Game made by Mary Bush
    </div>
      
    <!-- Plant -->
    <div>
      <img id="plant" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fgreen-tea.svg?1557603717234" />
      Plant icon made by <a href="https://www.flaticon.com/authors/ddara" title="dDara">dDara</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
      
    <!-- Wind turbine -->
    <div>
      <img id="turbine" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fwind-power.svg?1557697767872" />
      Wind turbine icon made by <a href="https://www.flaticon.com/authors/skyclick" title="Skyclick">Skyclick</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
    
  </body>
</html>
