<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/game.js" defer></script>
    <script src="/group.js" defer></script>
    
  </head>
  <body class="group">
    <div id="assets">
      <img id="plant" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fgreen-tea.svg?1557603717234" />
      <img id="turbine" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fwind-power.svg?1557697767872" />
      <img id="map" src="/assets/us-pixel-faded.svg">
    </div>
    <header>
      <h1>
        <img src="/assets/title.png" alt="Advance and Retreat"></img>
      </h1>
    </header>
    <div id="game-container">
      <canvas id="game" width="1280" height="720"></canvas>
      <!-- <img id="boundary" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fusa_cutout.png?1557590993070"> -->
    </div>
    <div id="motivation-list">
      <h3>What motivates us?</h3>
    </div>

    <div id="player-qr">
        Join on your phone:
        <img src="/assets/player-qr.png"></img>
      </div>
    <div id="credits">
      <a href="/credits">Credits</a>
    </div>
  </body>
</html>
