<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.4/Pizzicato.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
<!--     <script src="/audio-blah.js"></script> -->
<!--     <script src="/utils.js" defer></script> -->
    <script src="/game.js" defer></script>
    <script src="/solo.js" defer></script>
    
  </head>
  <body class="solo">
    <div id="assets">
      <img id="plant" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fgreen-tea.svg?1557603717234" />
      <img id="turbine" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fwind-power.svg?1557697767872" />
      <img id="map" src="/images/northamerica.svg">
      
    </div>
    <div id="game-container">
      <canvas id="game" width="200px" height="200px"></canvas>
      
<!--       <img id="boundary" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fusa_cutout.png?1557590993070"> -->
      
      <div id="actions">
        <div class="action" id="action-plant"></div>
        <div class="action" id="action-turbine"></div>
        <div class="action" id="action-retreat"></div>
      </div>
      
      <div id="retreat-overlay" class="overlay hidden">
        <div class="action" id="action-motivate"></div>
        <div class="action" id="action-return"></div>
      </div>

      <div id="player-info">
        <span id="player-energy"></span>
      </div>
      <div id="motivate-input">
        <textarea id="motivate-text" placeholder="What motivates you to keep going?"></textarea>
        <div class="action" id="action-motivate-send"></div>
      </div>
    </div>
    
    <div id="intro" class="overlay">
      <h1 style="padding-top: 10vh;">Advance and Retreat</h1>
      <div>For best gameplay, turn up your sound</div>
      <h3 style="font-style: italic; padding-top: 20vh;">touch to begin</h3>
    </div>
  </body>
</html>
