<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/game.js" defer></script>
    <script src="/solo.js" defer></script>
    
  </head>
  <body>
    <div id="assets">
      <img id="plant" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fgreen-tea.svg?1557603717234" />
    </div>
    <div id="game-container">
      
      <canvas id="game" width="800" height="524"></canvas>
      
      <img id="boundary" src="https://cdn.glitch.com/46e2e6a3-673c-4740-9ce0-0ab28c854d9d%2Fusa_cutout.png?1557590993070">
      
      <div id="actions">
        <div id="action-plant"></div>
      </div>
    </div>
  </body>
</html>
